<?xml version="1.0" encoding="utf-8"?>
<Settings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <Hotkey>
    <keyCode>F</keyCode>
    <modifiers>0</modifiers>
  </Hotkey>
  <speed>300</speed>
  <grind_speed>40</grind_speed>
  <wallride_downforce>80</wallride_downforce>
  <wait_threshold>10</wait_threshold>
  <enabled>true</enabled>
  <feet_rotation>true</feet_rotation>
  <lean>false</lean>
  <hippie>false</hippie>
  <HippieForce>1</HippieForce>
  <HippieTime>0.3</HippieTime>
  <left_foot_offset>1</left_foot_offset>
  <right_foot_offset>1</right_foot_offset>
  <swap_lean>false</swap_lean>
  <selected_player />
  <follow_mode_left>false</follow_mode_left>
  <follow_mode_right>false</follow_mode_right>
  <follow_mode_head>false</follow_mode_head>
  <push_by_velocity>true</push_by_velocity>
  <follow_target_offset>-0.3</follow_target_offset>
  <camera_feet>false</camera_feet>
  <reset_inactive>true</reset_inactive>
  <disable_popup>false</disable_popup>
  <multiplayer_lobby_size>20</multiplayer_lobby_size>
  <chat_messages>false</chat_messages>
  <left_page>0</left_page>
  <right_page>1</right_page>
  <up_page>2</up_page>
  <down_page>3</down_page>
  <sonic_mode>false</sonic_mode>
  <displacement_curve>true</displacement_curve>
  <feet_offset>true</feet_offset>
  <wave_on>Disabled</wave_on>
  <celebrate_on>Disabled</celebrate_on>
  <camera_avoidance>true</camera_avoidance>
  <wobble>true</wobble>
  <wobble_offset>4</wobble_offset>
  <bails>true</bails>
  <GrindFlipVerticality>0</GrindFlipVerticality>
  <ManualFlipVerticality>0</ManualFlipVerticality>
  <custom_scale>
    <x>1</x>
    <y>1</y>
    <z>1</z>
  </custom_scale>
  <left_hand_weight>2</left_hand_weight>
  <right_hand_weight>2</right_hand_weight>
  <arms_weight>1</arms_weight>
  <arms_dampening>1</arms_dampening>
  <filmer_arm_angle>28</filmer_arm_angle>
  <filmer_hand_height>0</filmer_hand_height>
  <filmer_light>true</filmer_light>
  <filmer_light_intensity>10000</filmer_light_intensity>
  <filmer_light_spotangle>339.130432</filmer_light_spotangle>
  <filmer_light_range>12.391304</filmer_light_range>
  <body_height>0</body_height>
  <nose_tail_collider>1</nose_tail_collider>
  <input_threshold>20</input_threshold>
  <BetterDecay>false</BetterDecay>
  <decay>3.25</decay>
  <dynamic_feet_states>
    <boolean>true</boolean>
    <boolean>true</boolean>
    <boolean>true</boolean>
    <boolean>false</boolean>
    <boolean>false</boolean>
    <boolean>false</boolean>
    <boolean>true</boolean>
    <boolean>true</boolean>
    <boolean>true</boolean>
    <boolean>true</boolean>
    <boolean>true</boolean>
    <boolean>true</boolean>
    <boolean>false</boolean>
    <boolean>false</boolean>
    <boolean>false</boolean>
    <boolean>false</boolean>
  </dynamic_feet_states>
  <look_forward_states>
    <boolean>false</boolean>
    <boolean>true</boolean>
    <boolean>true</boolean>
    <boolean>true</boolean>
    <boolean>true</boolean>
    <boolean>true</boolean>
    <boolean>true</boolean>
    <boolean>false</boolean>
    <boolean>true</boolean>
    <boolean>true</boolean>
    <boolean>true</boolean>
    <boolean>true</boolean>
    <boolean>false</boolean>
    <boolean>false</boolean>
    <boolean>false</boolean>
    <boolean>false</boolean>
  </look_forward_states>
  <custom_scale_head>1</custom_scale_head>
  <custom_scale_hand_l>1</custom_scale_hand_l>
  <custom_scale_hand_r>1</custom_scale_hand_r>
  <custom_scale_foot_l>1</custom_scale_foot_l>
  <custom_scale_foot_r>1</custom_scale_foot_r>
  <custom_scale_pelvis>1</custom_scale_pelvis>
  <custom_scale_spine>1</custom_scale_spine>
  <custom_scale_spine2>1</custom_scale_spine2>
  <custom_scale_arm_l>1</custom_scale_arm_l>
  <custom_scale_forearm_l>1</custom_scale_forearm_l>
  <custom_scale_arm_r>1</custom_scale_arm_r>
  <custom_scale_forearm_r>1</custom_scale_forearm_r>
  <custom_scale_upleg_l>1</custom_scale_upleg_l>
  <custom_scale_leg_l>1</custom_scale_leg_l>
  <custom_scale_upleg_r>1</custom_scale_upleg_r>
  <custom_scale_leg_r>1</custom_scale_leg_r>
  <custom_scale_neck>1</custom_scale_neck>
  <keyframe_sample>50</keyframe_sample>
  <keyframe_fov>120</keyframe_fov>
  <lookat_speed>1</lookat_speed>
  <time_offset>-1</time_offset>
  <keyframe_start_of_clip>true</keyframe_start_of_clip>
  <look_forward>true</look_forward>
  <look_forward_delay>0</look_forward_delay>
  <look_forward_length>20</look_forward_length>
  <RoomIDlength>5</RoomIDlength>
  <powerslide_force>true</powerslide_force>
  <powerslide_velocitybased>true</powerslide_velocitybased>
  <alternative_powerslide>true</alternative_powerslide>
  <powerslide_animation_length>24</powerslide_animation_length>
  <powerslide_maxangle>20</powerslide_maxangle>
  <powerslide_minimum_velocity>0</powerslide_minimum_velocity>
  <powerslide_max_velocity>15</powerslide_max_velocity>
  <keyframe_target>Head</keyframe_target>
  <alternative_arms>true</alternative_arms>
  <alternative_arms_damping>true</alternative_arms_damping>
  <multiplayer_collision>true</multiplayer_collision>
  <head_rotation_fakie>
    <Vector3>
      <x>-15.4285717</x>
      <y>51.4285736</y>
      <z>12</z>
    </Vector3>
    <Vector3>
      <x>0</x>
      <y>0</y>
      <z>0</z>
    </Vector3>
    <Vector3>
      <x>0</x>
      <y>0</y>
      <z>0</z>
    </Vector3>
    <Vector3>
      <x>0</x>
      <y>0</y>
      <z>0</z>
    </Vector3>
    <Vector3>
      <x>0</x>
      <y>0</y>
      <z>0</z>
    </Vector3>
    <Vector3>
      <x>0</x>
      <y>0</y>
      <z>0</z>
    </Vector3>
    <Vector3>
      <x>0</x>
      <y>0</y>
      <z>0</z>
    </Vector3>
    <Vector3>
      <x>0</x>
      <y>0</y>
      <z>0</z>
    </Vector3>
    <Vector3>
      <x>-34.78261</x>
      <y>-5.21739149</y>
      <z>20.869566</z>
    </Vector3>
    <Vector3>
      <x>0</x>
      <y>0</y>
      <z>0</z>
    </Vector3>
    <Vector3>
      <x>0</x>
      <y>0</y>
      <z>0</z>
    </Vector3>
    <Vector3>
      <x>0</x>
      <y>0</y>
      <z>0</z>
    </Vector3>
    <Vector3>
      <x>0</x>
      <y>0</y>
      <z>0</z>
    </Vector3>
    <Vector3>
      <x>0</x>
      <y>0</y>
      <z>0</z>
    </Vector3>
    <Vector3>
      <x>0</x>
      <y>0</y>
      <z>0</z>
    </Vector3>
    <Vector3>
      <x>0</x>
      <y>0</y>
      <z>0</z>
    </Vector3>
  </head_rotation_fakie>
  <head_rotation_switch>
    <Vector3>
      <x>-15.4285717</x>
      <y>51.4285736</y>
      <z>12</z>
    </Vector3>
    <Vector3>
      <x>-4.99378443</x>
      <y>10.0621128</y>
      <z>-8.571431</z>
    </Vector3>
    <Vector3>
      <x>0</x>
      <y>0</y>
      <z>0</z>
    </Vector3>
    <Vector3>
      <x>0</x>
      <y>0</y>
      <z>0</z>
    </Vector3>
    <Vector3>
      <x>0</x>
      <y>0</y>
      <z>0</z>
    </Vector3>
    <Vector3>
      <x>0</x>
      <y>0</y>
      <z>0</z>
    </Vector3>
    <Vector3>
      <x>0</x>
      <y>0</y>
      <z>0</z>
    </Vector3>
    <Vector3>
      <x>0</x>
      <y>0</y>
      <z>0</z>
    </Vector3>
    <Vector3>
      <x>-10.434782</x>
      <y>-1.73913121</y>
      <z>13.913043</z>
    </Vector3>
    <Vector3>
      <x>0</x>
      <y>0</y>
      <z>0</z>
    </Vector3>
    <Vector3>
      <x>0</x>
      <y>0</y>
      <z>0</z>
    </Vector3>
    <Vector3>
      <x>0</x>
      <y>0</y>
      <z>-58.285717</z>
    </Vector3>
    <Vector3>
      <x>0</x>
      <y>0</y>
      <z>0</z>
    </Vector3>
    <Vector3>
      <x>0</x>
      <y>0</y>
      <z>0</z>
    </Vector3>
    <Vector3>
      <x>0</x>
      <y>0</y>
      <z>0</z>
    </Vector3>
    <Vector3>
      <x>0</x>
      <y>0</y>
      <z>0</z>
    </Vector3>
  </head_rotation_switch>
  <head_rotation_grinds_fakie>
    <Vector3>
      <x>0</x>
      <y>0</y>
      <z>0</z>
    </Vector3>
    <Vector3>
      <x>0</x>
      <y>0</y>
      <z>0</z>
    </Vector3>
    <Vector3>
      <x>0</x>
      <y>0</y>
      <z>0</z>
    </Vector3>
    <Vector3>
      <x>0</x>
      <y>0</y>
      <z>0</z>
    </Vector3>
    <Vector3>
      <x>0</x>
      <y>0</y>
      <z>0</z>
    </Vector3>
    <Vector3>
      <x>0</x>
      <y>0</y>
      <z>0</z>
    </Vector3>
    <Vector3>
      <x>0</x>
      <y>0</y>
      <z>0</z>
    </Vector3>
    <Vector3>
      <x>0</x>
      <y>0</y>
      <z>0</z>
    </Vector3>
    <Vector3>
      <x>0</x>
      <y>0</y>
      <z>0</z>
    </Vector3>
    <Vector3>
      <x>0</x>
      <y>0</y>
      <z>0</z>
    </Vector3>
    <Vector3>
      <x>0</x>
      <y>0</y>
      <z>0</z>
    </Vector3>
    <Vector3>
      <x>0</x>
      <y>0</y>
      <z>0</z>
    </Vector3>
    <Vector3>
      <x>-74.78</x>
      <y>-76.52</y>
      <z>24.35</z>
    </Vector3>
    <Vector3>
      <x>-36.8</x>
      <y>-4.8</y>
      <z>19.2</z>
    </Vector3>
    <Vector3>
      <x>0</x>
      <y>0</y>
      <z>0</z>
    </Vector3>
    <Vector3>
      <x>0</x>
      <y>0</y>
      <z>0</z>
    </Vector3>
    <Vector3>
      <x>0</x>
      <y>0</y>
      <z>0</z>
    </Vector3>
    <Vector3>
      <x>0</x>
      <y>0</y>
      <z>0</z>
    </Vector3>
    <Vector3>
      <x>-108.000008</x>
      <y>-20.5714321</y>
      <z>-41.14286</z>
    </Vector3>
    <Vector3>
      <x>0</x>
      <y>0</y>
      <z>0</z>
    </Vector3>
    <Vector3>
      <x>-53.142868</x>
      <y>-10.2857132</y>
      <z>25.7142849</z>
    </Vector3>
    <Vector3>
      <x>0</x>
      <y>0</y>
      <z>0</z>
    </Vector3>
    <Vector3>
      <x>0</x>
      <y>0</y>
      <z>0</z>
    </Vector3>
    <Vector3>
      <x>-36</x>
      <y>0</y>
      <z>0</z>
    </Vector3>
    <Vector3>
      <x>0</x>
      <y>0</y>
      <z>0</z>
    </Vector3>
    <Vector3>
      <x>0</x>
      <y>0</y>
      <z>0</z>
    </Vector3>
    <Vector3>
      <x>0</x>
      <y>0</y>
      <z>0</z>
    </Vector3>
    <Vector3>
      <x>0</x>
      <y>0</y>
      <z>0</z>
    </Vector3>
    <Vector3>
      <x>0</x>
      <y>0</y>
      <z>0</z>
    </Vector3>
    <Vector3>
      <x>-25.7142849</x>
      <y>-39.42857</y>
      <z>46.2857132</z>
    </Vector3>
    <Vector3>
      <x>0</x>
      <y>0</y>
      <z>0</z>
    </Vector3>
    <Vector3>
      <x>0</x>
      <y>0</y>
      <z>0</z>
    </Vector3>
    <Vector3>
      <x>0</x>
      <y>0</y>
      <z>0</z>
    </Vector3>
    <Vector3>
      <x>0</x>
      <y>0</y>
      <z>0</z>
    </Vector3>
  </head_rotation_grinds_fakie>
  <head_rotation_grinds_switch>
    <Vector3>
      <x>-20.5714283</x>
      <y>0</y>
      <z>0</z>
    </Vector3>
    <Vector3>
      <x>0</x>
      <y>0</y>
      <z>0</z>
    </Vector3>
    <Vector3>
      <x>-44.57143</x>
      <y>6.85714245</y>
      <z>25.7142887</z>
    </Vector3>
    <Vector3>
      <x>-39.42857</x>
      <y>-41.1428566</y>
      <z>35.9999962</z>
    </Vector3>
    <Vector3>
      <x>0</x>
      <y>0</y>
      <z>0</z>
    </Vector3>
    <Vector3>
      <x>0</x>
      <y>0</y>
      <z>0</z>
    </Vector3>
    <Vector3>
      <x>0</x>
      <y>0</y>
      <z>0</z>
    </Vector3>
    <Vector3>
      <x>0</x>
      <y>0</y>
      <z>0</z>
    </Vector3>
    <Vector3>
      <x>0</x>
      <y>0</y>
      <z>0</z>
    </Vector3>
    <Vector3>
      <x>0</x>
      <y>0</y>
      <z>0</z>
    </Vector3>
    <Vector3>
      <x>0</x>
      <y>0</y>
      <z>0</z>
    </Vector3>
    <Vector3>
      <x>0</x>
      <y>0</y>
      <z>0</z>
    </Vector3>
    <Vector3>
      <x>-74.78261</x>
      <y>-76.5217361</y>
      <z>24.347826</z>
    </Vector3>
    <Vector3>
      <x>-24</x>
      <y>-20.8000011</y>
      <z>38.4</z>
    </Vector3>
    <Vector3>
      <x>0</x>
      <y>0</y>
      <z>0</z>
    </Vector3>
    <Vector3>
      <x>0</x>
      <y>0</y>
      <z>0</z>
    </Vector3>
    <Vector3>
      <x>0</x>
      <y>0</y>
      <z>0</z>
    </Vector3>
    <Vector3>
      <x>0</x>
      <y>0</y>
      <z>0</z>
    </Vector3>
    <Vector3>
      <x>-106.285713</x>
      <y>-20.57143</y>
      <z>-41.14286</z>
    </Vector3>
    <Vector3>
      <x>0</x>
      <y>0</y>
      <z>0</z>
    </Vector3>
    <Vector3>
      <x>-41.14286</x>
      <y>-30.8571453</y>
      <z>3.428571</z>
    </Vector3>
    <Vector3>
      <x>0</x>
      <y>0</y>
      <z>0</z>
    </Vector3>
    <Vector3>
      <x>0</x>
      <y>0</y>
      <z>0</z>
    </Vector3>
    <Vector3>
      <x>-66.85715</x>
      <y>-18.8571434</y>
      <z>-13.7142859</z>
    </Vector3>
    <Vector3>
      <x>0</x>
      <y>0</y>
      <z>0</z>
    </Vector3>
    <Vector3>
      <x>0</x>
      <y>0</y>
      <z>0</z>
    </Vector3>
    <Vector3>
      <x>0</x>
      <y>0</y>
      <z>0</z>
    </Vector3>
    <Vector3>
      <x>0</x>
      <y>0</y>
      <z>0</z>
    </Vector3>
    <Vector3>
      <x>-15.4285746</x>
      <y>-24.0000019</y>
      <z>30.8571434</z>
    </Vector3>
    <Vector3>
      <x>-24.0000019</x>
      <y>-36</y>
      <z>46.28572</z>
    </Vector3>
    <Vector3>
      <x>0</x>
      <y>0</y>
      <z>0</z>
    </Vector3>
    <Vector3>
      <x>0</x>
      <y>0</y>
      <z>0</z>
    </Vector3>
    <Vector3>
      <x>0</x>
      <y>0</y>
      <z>0</z>
    </Vector3>
    <Vector3>
      <x>0</x>
      <y>0</y>
      <z>0</z>
    </Vector3>
  </head_rotation_grinds_switch>
  <show_colliders>false</show_colliders>
  <ollie_customization_rotation>
    <Vector3>
      <x>33</x>
      <y>0</y>
      <z>0</z>
    </Vector3>
    <Vector3>
      <x>33</x>
      <y>0</y>
      <z>0</z>
    </Vector3>
    <Vector3>
      <x>18</x>
      <y>0</y>
      <z>0</z>
    </Vector3>
    <Vector3>
      <x>20</x>
      <y>0</y>
      <z>0</z>
    </Vector3>
  </ollie_customization_rotation>
  <ollie_customization_length>
    <float>24</float>
    <float>24</float>
    <float>24</float>
    <float>24</float>
  </ollie_customization_length>
  <ollie_customization_rotation_backwards>
    <Vector3>
      <x>-33</x>
      <y>0</y>
      <z>0</z>
    </Vector3>
    <Vector3>
      <x>-33</x>
      <y>0</y>
      <z>0</z>
    </Vector3>
    <Vector3>
      <x>-33</x>
      <y>0</y>
      <z>0</z>
    </Vector3>
    <Vector3>
      <x>0</x>
      <y>0</y>
      <z>0</z>
    </Vector3>
  </ollie_customization_rotation_backwards>
  <ollie_customization_length_backwards>
    <float>12</float>
    <float>12</float>
    <float>12</float>
    <float>12</float>
  </ollie_customization_length_backwards>
  <ollie_customization_rotation_left_stick>
    <Vector3>
      <x>0</x>
      <y>0</y>
      <z>0</z>
    </Vector3>
    <Vector3>
      <x>0</x>
      <y>0</y>
      <z>0</z>
    </Vector3>
    <Vector3>
      <x>0</x>
      <y>0</y>
      <z>0</z>
    </Vector3>
    <Vector3>
      <x>0</x>
      <y>0</y>
      <z>0</z>
    </Vector3>
  </ollie_customization_rotation_left_stick>
  <ollie_customization_length_left_stick>
    <float>12</float>
    <float>12</float>
    <float>12</float>
    <float>12</float>
  </ollie_customization_length_left_stick>
  <ollie_customization_rotation_right_stick>
    <Vector3>
      <x>0</x>
      <y>0</y>
      <z>0</z>
    </Vector3>
    <Vector3>
      <x>0</x>
      <y>0</y>
      <z>0</z>
    </Vector3>
    <Vector3>
      <x>0</x>
      <y>0</y>
      <z>0</z>
    </Vector3>
    <Vector3>
      <x>0</x>
      <y>0</y>
      <z>0</z>
    </Vector3>
  </ollie_customization_rotation_right_stick>
  <ollie_customization_length_right_stick>
    <float>12</float>
    <float>12</float>
    <float>12</float>
    <float>12</float>
  </ollie_customization_length_right_stick>
  <ollie_customization_rotation_left_stick_backwards>
    <Vector3>
      <x>0</x>
      <y>0</y>
      <z>0</z>
    </Vector3>
    <Vector3>
      <x>0</x>
      <y>0</y>
      <z>0</z>
    </Vector3>
    <Vector3>
      <x>0</x>
      <y>0</y>
      <z>0</z>
    </Vector3>
    <Vector3>
      <x>0</x>
      <y>0</y>
      <z>0</z>
    </Vector3>
  </ollie_customization_rotation_left_stick_backwards>
  <ollie_customization_length_left_stick_backwards>
    <float>12</float>
    <float>12</float>
    <float>12</float>
    <float>12</float>
  </ollie_customization_length_left_stick_backwards>
  <ollie_customization_rotation_right_stick_backwards>
    <Vector3>
      <x>0</x>
      <y>0</y>
      <z>0</z>
    </Vector3>
    <Vector3>
      <x>0</x>
      <y>0</y>
      <z>0</z>
    </Vector3>
    <Vector3>
      <x>0</x>
      <y>0</y>
      <z>0</z>
    </Vector3>
    <Vector3>
      <x>0</x>
      <y>0</y>
      <z>0</z>
    </Vector3>
  </ollie_customization_rotation_right_stick_backwards>
  <ollie_customization_length_right_stick_backwards>
    <float>12</float>
    <float>12</float>
    <float>12</float>
    <float>12</float>
  </ollie_customization_length_right_stick_backwards>
  <ollie_customization_rotation_both_outside>
    <Vector3>
      <x>0</x>
      <y>0</y>
      <z>0</z>
    </Vector3>
    <Vector3>
      <x>0</x>
      <y>0</y>
      <z>0</z>
    </Vector3>
    <Vector3>
      <x>0</x>
      <y>0</y>
      <z>0</z>
    </Vector3>
    <Vector3>
      <x>0</x>
      <y>0</y>
      <z>0</z>
    </Vector3>
  </ollie_customization_rotation_both_outside>
  <ollie_customization_length_both_outside>
    <float>12</float>
    <float>12</float>
    <float>12</float>
    <float>12</float>
  </ollie_customization_length_both_outside>
  <ollie_customization_rotation_both_inside>
    <Vector3>
      <x>0</x>
      <y>0</y>
      <z>0</z>
    </Vector3>
    <Vector3>
      <x>0</x>
      <y>0</y>
      <z>0</z>
    </Vector3>
    <Vector3>
      <x>0</x>
      <y>0</y>
      <z>0</z>
    </Vector3>
    <Vector3>
      <x>0</x>
      <y>0</y>
      <z>0</z>
    </Vector3>
  </ollie_customization_rotation_both_inside>
  <ollie_customization_length_both_inside>
    <float>12</float>
    <float>12</float>
    <float>12</float>
    <float>12</float>
  </ollie_customization_length_both_inside>
  <ollie_customization_rotation_left2left>
    <Vector3>
      <x>0</x>
      <y>0</y>
      <z>0</z>
    </Vector3>
    <Vector3>
      <x>0</x>
      <y>0</y>
      <z>0</z>
    </Vector3>
    <Vector3>
      <x>0</x>
      <y>0</y>
      <z>0</z>
    </Vector3>
    <Vector3>
      <x>0</x>
      <y>0</y>
      <z>0</z>
    </Vector3>
  </ollie_customization_rotation_left2left>
  <ollie_customization_length_left2left>
    <float>60</float>
    <float>24</float>
    <float>24</float>
    <float>24</float>
  </ollie_customization_length_left2left>
  <ollie_customization_rotation_left2right>
    <Vector3>
      <x>-95.74468</x>
      <y>0</y>
      <z>24.2553158</z>
    </Vector3>
    <Vector3>
      <x>0</x>
      <y>0</y>
      <z>0</z>
    </Vector3>
    <Vector3>
      <x>0</x>
      <y>0</y>
      <z>0</z>
    </Vector3>
    <Vector3>
      <x>0</x>
      <y>0</y>
      <z>0</z>
    </Vector3>
  </ollie_customization_rotation_left2right>
  <ollie_customization_length_left2right>
    <float>24</float>
    <float>24</float>
    <float>24</float>
    <float>24</float>
  </ollie_customization_length_left2right>
  <ollie_customization_rotation_right2left>
    <Vector3>
      <x>0</x>
      <y>0</y>
      <z>0</z>
    </Vector3>
    <Vector3>
      <x>0</x>
      <y>0</y>
      <z>0</z>
    </Vector3>
    <Vector3>
      <x>0</x>
      <y>0</y>
      <z>0</z>
    </Vector3>
    <Vector3>
      <x>0</x>
      <y>0</y>
      <z>0</z>
    </Vector3>
  </ollie_customization_rotation_right2left>
  <ollie_customization_length_right2left>
    <float>24</float>
    <float>24</float>
    <float>24</float>
    <float>24</float>
  </ollie_customization_length_right2left>
  <ollie_customization_rotation_right2right>
    <Vector3>
      <x>0</x>
      <y>0</y>
      <z>0</z>
    </Vector3>
    <Vector3>
      <x>0</x>
      <y>0</y>
      <z>0</z>
    </Vector3>
    <Vector3>
      <x>0</x>
      <y>0</y>
      <z>0</z>
    </Vector3>
    <Vector3>
      <x>0</x>
      <y>0</y>
      <z>0</z>
    </Vector3>
  </ollie_customization_rotation_right2right>
  <ollie_customization_length_right2right>
    <float>24</float>
    <float>24</float>
    <float>24</float>
    <float>24</float>
  </ollie_customization_length_right2right>
  <ollie_customization_rotation_both2left>
    <Vector3>
      <x>0</x>
      <y>0</y>
      <z>0</z>
    </Vector3>
    <Vector3>
      <x>0</x>
      <y>0</y>
      <z>0</z>
    </Vector3>
    <Vector3>
      <x>0</x>
      <y>0</y>
      <z>0</z>
    </Vector3>
    <Vector3>
      <x>0</x>
      <y>0</y>
      <z>0</z>
    </Vector3>
  </ollie_customization_rotation_both2left>
  <ollie_customization_length_both2left>
    <float>24</float>
    <float>24</float>
    <float>24</float>
    <float>24</float>
  </ollie_customization_length_both2left>
  <ollie_customization_rotation_both2right>
    <Vector3>
      <x>0</x>
      <y>0</y>
      <z>0</z>
    </Vector3>
    <Vector3>
      <x>0</x>
      <y>0</y>
      <z>0</z>
    </Vector3>
    <Vector3>
      <x>0</x>
      <y>0</y>
      <z>0</z>
    </Vector3>
    <Vector3>
      <x>0</x>
      <y>0</y>
      <z>0</z>
    </Vector3>
  </ollie_customization_rotation_both2right>
  <ollie_customization_length_both2right>
    <float>24</float>
    <float>24</float>
    <float>24</float>
    <float>24</float>
  </ollie_customization_length_both2right>
  <force_stick_backwards>false</force_stick_backwards>
  <force_stick_backwards_multiplier>0.125</force_stick_backwards_multiplier>
  <filmer_object>false</filmer_object>
  <filmer_object_target>Target</filmer_object_target>
  <camera_shake>true</camera_shake>
  <camera_shake_offset>7</camera_shake_offset>
  <camera_shake_multiplier>1</camera_shake_multiplier>
  <camera_shake_fov_multiplier>1</camera_shake_fov_multiplier>
  <camera_fov_offset>4</camera_fov_offset>
  <trick_customization>true</trick_customization>
  <Kp>5000</Kp>
  <Ki>0</Ki>
  <Kd>900</Kd>
  <KpImpact>2600</KpImpact>
  <KdImpact>496.4539</KdImpact>
  <KpSetup>3404.25562</KpSetup>
  <KdSetup>595.7447</KdSetup>
  <KpGrind>2000</KpGrind>
  <KdGrind>85.1063843</KdGrind>
  <comOffset_y>0.07</comOffset_y>
  <comHeightRiding>1.06</comHeightRiding>
  <maxLegForce>5000</maxLegForce>
  <forward_force_onpop>false</forward_force_onpop>
  <forward_force>0.35</forward_force>
  <multi_filmer_activation>On pump input</multi_filmer_activation>
  <camera_shake_range>0.2</camera_shake_range>
  <camera_shake_length>4</camera_shake_length>
  <walk_after_bail>false</walk_after_bail>
  <haunting_arms>false</haunting_arms>
  <bump_anim>false</bump_anim>
  <bump_anim_pop>true</bump_anim_pop>
  <bump_pop_delay>0.15</bump_pop_delay>
  <catch_acc>10</catch_acc>
  <catch_acc_enabled>false</catch_acc_enabled>
  <catch_acc_onflick>false</catch_acc_onflick>
  <catch_lerp_speed>30</catch_lerp_speed>
  <bounce_delay>4</bounce_delay>
  <snappy_catch>true</snappy_catch>
  <FlickThreshold>0.6</FlickThreshold>
  <partial_gear>false</partial_gear>
  <custom_board_correction>false</custom_board_correction>
  <board_p>5000</board_p>
  <board_i>0</board_i>
  <board_d>1</board_d>
  <jiggle_on_setup>false</jiggle_on_setup>
  <jiggle_limit>40</jiggle_limit>
  <jiggle_delay>24</jiggle_delay>
  <jiggle_randommax>10</jiggle_randommax>
  <debug>false</debug>
</Settings>